<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707972461034-qirjf29k4740v73aastb40b8be33euah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707972461034-qirjf29k4740v73aastb40b8be33euah</string>
	<key>API_KEY</key>
	<string>AIzaSyABIPixCUHaJSZ6z0iNxOeuZsYP20jRPsc</string>
	<key>GCM_SENDER_ID</key>
	<string>707972461034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>klenov.FirstObserver</string>
	<key>PROJECT_ID</key>
	<string>firstobserver-8b0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>firstobserver-8b0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707972461034:ios:0b32e87423cd9bc11d0293</string>
	<key>DATABASE_URL</key>
	<string>https://firstobserver-8b0d8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>